@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-sm-4 col-md-6">
        <h2>Welcome to Contoso University</h2>
        <p>
            Our mission is to advance higher learning through the 
            teaching of great stuff that people can apply to 
            make the world a better place.
        </p>
    </div>
    <div class="col-sm-8 col-md-6">
        <img src="~/images/campus.jpg" class="img-responsive img-rounded" alt="Students" />
    </div>
    <!--
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
    -->
</div>